#infos
  position: relative
  top: 70px
  color: $normal-color
  main
    margin: -40px 0 32px 41px
    width: 526px
    .pricing
      border-bottom-style: dotted
      p:last-child
        font-size: 1.2em
    .pricing:first-child
      border-top-style: dotted
      margin-bottom: 10px
      padding-bottom: 7px
      padding-top: 7px
    p
      font-family: 'ChunkFive', 'Arial', serif
      font-size: 1.3em
      margin: 2px 0 2px 22px
  em
    font-style: italic

#container
  justify-content: flex-start

#chicken
  position: absolute
  top: 39px
  right: 0px

#banner-infos
  position: relative
  top: -74px

#inf
  margin-bottom: -11px

#partners
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: flex-start
  position: relative
  top: -8px
  right: -41px
  a
    text-decoration: none
    color: $normal-color
  p
    font-family: 'Arial', serif
    font-size: 1.1em
    margin: 2px 0 2px 0
  p:first-child
      font-weight: bold
