$border-width: 3px
$border-color: #1D150A

#home-page
  nav
    position: relative
    bottom: 84px
    display: flex
    width: 100%
    justify-content: space-between
    a
      font-family: 'melancholightregular', 'Arial', serif
      font-size: 3.8em
      text-decoration: none
      color: #090300
      height: 67px

#prog-link
  width: 30%
  border-bottom-color: $border-color
  border-bottom-width: $border-width
  border-bottom-style: solid

#infos-link
  width: 26%
  border-bottom-color: $border-color
  border-bottom-width: $border-width
  border-bottom-style: solid
  text-align: right
