#infos-page
  width: 100%
  height: 100%
  color: $normal-color
  background-image: url('../img/pageinfos.jpg')

#infos
  width: 100%
  height: 100%
  display: flex
  flex-wrap: wrap
  font-family: 'Myriad Pro', 'Arial', serif
  font-weight: bold
  main
    margin-top: 222px
    margin-left: 135px
    h2
      margin: 0 0 0 0
      font-size: 1.9em
    h3
      font-size: 1.9em
      color: $red
      margin-bottom: 15px
      margin-top: 15px
    p
      margin: 0 0 0 0
      font-size: 1.7em
    .access
      margin-top: 10px
      font-family: 'Euphorigenic', 'Arial', serif
      color: $red
    .money
      font-size: 1em
  nav
    margin-top: 75px
    margin-left: 60px
    z-index: 1

.contact
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 125px
  margin-left: 183px
  .logo
    width: 203px
    height: 138px
  .mail
    margin-bottom: 15px
    font-size: 2em
    color: $normal-color
    text-decoration: none
  .video
    margin-top: 10px
    text-decoration: none
    font-size: 1.8em

.address
  display: flex
  flex-direction: column
  margin-top: 10px
  &:first-child
    font-size: 3em
  p
    margin: 0 0 0 0
    margin-left: auto
    margin-right: auto
    font-size: 1.7em

.phone *
  font-size: 1.7em
  margin-top: 0
  margin-bottom: 0

#container
  justify-content: flex-start

#partners
  display: flex
  justify-content: space-between
  align-items: center
  width: 558px
  margin-left: 126px
  margin-top: 20px
  img
    max-height: 100%
    max-width: 100%
