#prog-page
  main
    position: relative
    top: 85px
    left: 85px
    display: flex

#band
  margin-left: 20px
  h2
    font-family: 'ChunkFive'
    font-size: 2.2em
    font-weight: normal
    color: #738496
    margin-top: -6px
