<nav>
  <!-- <a id="prog-link" class="button" href="{{ site.baseurl }}{% link prog.html %}"> -->
  <a id="prog-link" class="button" onclick="alert('en construction')">
    <img src="{{ "/assets/img/prog_button.png" | relative_url }}" alt="Programmation">
  </a>
  <!-- <a id="infos-link" class="button" href="{{ site.baseurl }}{% link infos.html %}"> -->
  <a id="infos-link" class="button" onclick="alert('en construction')">
    <img src="{{ "/assets/img/infos_button.png" | relative_url }}" alt="Infos pratiques">
  </a>
  <!-- <a id="medias-link" class="button" href="{{ site.baseurl }}{% link medias.html %}"> -->
  <a id="medias-link" class="button" onclick="alert('en construction')">
    <img src="{{ "/assets/img/media_button.png" | relative_url }}" alt="Medias">
  </a>
</nav>
