<nav>
	<a id="prog-link" class="shake-me" href="{{ site.baseurl }}{% link prog.html %}">
		<img src="{{ "/assets/img/prog_button.png" | relative_url }}" alt="Programmation">
	</a>
	<a id="infos-link" class="shake-me" href="{{ site.baseurl }}{% link infos.html %}">
		<img src="{{ "/assets/img/infos_button.png" | relative_url }}" alt="Infos pratiques">
	</a>
	<a id="medias-link" class="shake-me" href="{{ site.baseurl }}{% link medias.html %}">
		<img src="{{ "/assets/img/media_button.png" | relative_url }}" alt="Medias">
	</a>
</nav>
