$blurple: #311F3C
$yellow: #E6B552
$purple: #9E7B9F

@keyframes shake
  0%
    transform: rotate(0deg)
  25%
    transform: rotate(15deg)
  50%
    transform: rotate(-10deg)
  75%
    transform: rotate(4deg)
  100%
    transform: rotate(-2deg)

// import partials
@import "theme/main"
@import "theme/prog_page"
@import "theme/medias"
@import "theme/infos"
@import "theme/fonts"
